:root {
    --color-1: #392DFF;
    --rgb-color-1: 57 45 255;
}

.main-color {color: var(--color-1);}
h1

/*********
scrollbar
*********/
html {
    scrollbar-color: #909090 #F5F5F5;
    scrollbar-width: thin;
}
::-webkit-scrollbar {
    width: 6px;
    height: 4px;
    background-color: #F5F5F5;
}
::-webkit-scrollbar-thumb {
    background-color:#909090;
    border-radius: 3px;
}
::-webkit-scrollbar-thumb:hover {
    background-color: #636363;
}
::-webkit-scrollbar-button:vertical:start:decrement
::-webkit-scrollbar-button:vertical:end:increment,
::-webkit-scrollbar-button:horizontal:start:decrement,
::-webkit-scrollbar-button:horizontal:end:increment {
    display: none;
}

/************
CUSTOM SELECT
************/
input[type=text]::-ms-clear {  display: none; width : 0; height: 0; }
input[type=text]::-ms-reveal {  display: none; width : 0; height: 0; }
input[type="search"]::-webkit-search-decoration,
input[type="search"]::-webkit-search-cancel-button,
input[type="search"]::-webkit-search-results-button,
input[type="search"]::-webkit-search-results-decoration { display: none; }

.custom-select {
    position: relative;
    font-size: 15px;
    min-width: 175px;
}
.custom-select button {
    width: 100%;
    border-radius: .33em;
    border: 1px solid #DAE2E8;
    text-align: left;
    padding: .75em 2em .75em 1em;
    line-height: 1.4em;
    background: url(../img/icons/down.svg) no-repeat;
    background-position: calc(100% - 1em) 55%;
    background-size: .8em;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}
.cs-options {
    position: absolute;
    top: calc(100% + .2em);
    left: 0;
    z-index: 100;
    width: 100%;
    display: none;
    border: 1px solid #DAE2E8;
    background-color: #fff;
    border-radius: .33em;
    max-height: 470px;
    overflow-y: scroll;
}
.align-bottom .cs-options {
    bottom: calc(100% + .2em);
    top: unset;
}
.cs-options::-webkit-scrollbar {width: 0;}
.cs-options.opened {display: block;}

span.nesting, span.level-mark {
    width: 10px;
    display: inline-block;
    text-align: center;
}
span.nesting {color: #000;}
span.level-mark {color: #909090;}

/* checkbox for select customization */
.cs-options .checkbox, 
.cs-options .radio {
    position: relative;
    border-bottom: 1px solid #DAE2E8;
}
.cs-options .checkbox label, 
.cs-options .radio label {
    position: relative;
    z-index: 1;
    display: block;
    padding: .5em 2.5em .5em 1em;
    background-color: rgb(108 99 255 / 20%);
    color: #000;
    transition: .2s;
    line-height: 1.2em;
}
.cs-options .checkbox input[type="checkbox"], 
.cs-options .radio input[type="radio"] {
    position: absolute;
    top: calc(50% - .6em);
    right: 1em;
    z-index: 2;
    appearance:none;
    -webkit-appearance:none;
    -moz-appearance:none;
    -ms-appearance:none;
    box-shadow: none;
    border: none;
    border-radius: 0px;
    height: 1.2em;
    width: 1.2em;
    padding: 0;
    margin: 0;
    background-color: transparent;
    background-image: url(../img/icons/chbox.svg);
    background-repeat: no-repeat;
    background-position: 50% 50%;
    background-size: 100% 100%;
    box-sizing: border-box;
    transition: .2s;
    outline: none;
}
.cs-options .checkbox input[type="checkbox"]:checked, 
.cs-options .radio input[type="radio"]:checked {
    background-image: url(../img/icons/chbox-checked.svg);
    background-repeat: no-repeat;
    background-position: 50% 50%;
    background-size: auto;
}
.cs-options .checkbox input[type="checkbox"]:checked::after,
.cs-options .radio input[type="radio"]:checked::after {content: unset;}
.cs-options .checkbox input[type="checkbox"]:checked ~ label,
.cs-options .radio input[type="radio"]:checked ~ label  {
    background-color: rgb(108 99 255 / 100%);
    color: #fff;
}
.cs-options .checkbox input[type="checkbox"]:checked ~ label span.nesting,
.cs-options .radio input[type="radio"]:checked ~ label span.level-mark {
    color: #fff;
}

/* sublevels */
.cs-options div.sublevel .checkbox,
.cs-options div.sublevel .radio {
    display: none;
}
.cs-options .sublevel .checkbox label,
.cs-options .sublevel .radio label {background-color: rgb(108 99 255 / 0%);}
.sublevel .sublevel .checkbox label,
.sublevel .sublevel .radio label {
    font-size: .9em;
    padding: .6em 2.5em .6em 1.5em;
}


/************  
SEARCH / FILTER 
*************/
input.search-in-list{
    border: 1.5px solid #392DFF;
    border-radius: .33em;
    background-color: #fff;
    padding: .75em 1em .75em 1em;
    margin-bottom: .13em;
    width: 100%;
    outline: none;
}
.overlap {display: block !important;}
.diff {display: none !important;}


/***************
FORMS STYLIZATION
****************/
input[type="number"]::-webkit-outer-spin-button,
input[type="number"]::-webkit-inner-spin-button {
    -webkit-appearance: none;
}
input[type="number"] {
    -moz-appearance: textfield;
}


/***************
TEXT STYLIZATION
****************/
.gray {color: #ced4da;}
.lh_n {line-height: normal;}
.f_09 {font-size: .9em;}


/*********************** 
modal window for images 
***********************/
#modalImg {
    display: none;
    position: fixed;
    top: calc(100vh/2 - 300px);
    left: calc(100%/2 - 400px);
    width: 800px;
    height: 600px;
    background-color: #fff;
    filter: drop-shadow(0px 0px 13px rgba(0, 0, 0, 0.25));
    z-index: 100;
}
#modalImg .img {
    width: 100%;
    height: 100%;
}
#modalImg .img img {
    width: 100%;
    height: 100%;
    object-fit: scale-down;
}


/************* entrance window ****************/
.entrance_window {
    width: 100%;
    height: 100vh;
    padding: 5% 8vw;
    background-color: #fff;
}
.entrance_window form {
    width: 550px;
    max-width: 100%;
}
.password {
    position: relative;
}
.password input {
    position: relative;
}
.password button {
  position: absolute;
  bottom: 0;
  right: 0;
  width: 3em;
  height: 100%;
  display: flex;
  border: none;
}
.password button[data-state="invisible"] {
  background: url(../img/icons/invisible.svg) no-repeat center;
  background-size: 1.25em 1.25em;
  background-position: left center;
}
.password button[data-state="visible"] {
  background: url(../img/icons/visibility.svg) no-repeat center;
  background-size: 1.25em 1.25em;
  background-position: left center;
}
.password button img {width: 100%;}

.entrance_window .img {
    background-color: #E5E5E5;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    padding: 2em;
    min-height: 550px;
    color: var(--color-1);
    font-size: 2em;
    font-weight: 700;
    text-align: center;
}
.entrance_window .img img {width: 50%;}

.input-box {
    background: #FFFFFF;
    border: 1px solid #C1BBBB;
    padding: .6em 1em .7em 1.5em;
    position: relative;
}
.input-box-focus::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 3px;;
    background-color: var(--color-1);
}
.input-box input {
    border: none;
    outline: none;
}
.input-box input:focus {outline: none;}

@media (max-width: 1199px){
    .entrance_window {padding: 4% 6vw;}
}
@media (max-width: 575px){
    .entrance_window form {font-size: 13px;}
}
