@charset "UTF-8";
body {
  width: 100%;
  min-width: 1900px;
  height: 100vh;
  font-family: 'Roboto', sans-serif;
}

.main-area {
  margin-left: 6.25rem;
  width: calc(100% - 6.25rem);
  height: 100vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: stretch;
      -ms-flex-align: stretch;
          align-items: stretch;
}

.navigation {
  width: 6.25rem;
  z-index: 20;
}

.user {
  width: 3rem;
  height: 3rem;
}

.nav-item {
  padding: 0;
  margin: 0;
}

.nav-link {
  padding: 15px;
  padding-left: 35px;
}

.nav-link.active {
  background-color: #F0F2F5;
  border-right: 2px solid #3B2FFF;
}

.nav-icon {
  width: 1.5rem;
  height: 1.5rem;
  display: inline-block;
  -o-object-position: center;
     object-position: center;
  -o-object-fit: contain;
     object-fit: contain;
}

.nav-link {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.nav-item span {
  display: none;
  white-space: nowrap;
  padding-left: 20px;
}

.nav-item:hover {
  background-color: #fff;
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  min-width: 180px;
  -webkit-box-shadow: 2px 4px 4px rgba(0, 0, 0, 0.1);
          box-shadow: 2px 4px 4px rgba(0, 0, 0, 0.1);
}

.nav-item:hover span {
  display: inline;
}

.form-search {
  background-image: url("../img/icons/search.svg");
  background-position: 10px center;
  background-repeat: no-repeat;
}

.btn-link {
  background-position: center;
  background-size: contain;
  background-repeat: no-repeat;
  width: 1.56rem;
  height: 1.56rem;
}

.btn-filter {
  width: 2.1875rem;
  height: 2.1875rem;
  background-image: url("../img/icons/btn-filter.svg");
}

.btn-show {
  width: 20px;
  height: 20px;
}

.btn-show[data-state="hidden"] {
  background-image: url("../img/icons/btn-show.svg");
}

.btn-show[data-state="showed"] {
  background-image: url("../img/icons/btn-hide.svg");
}

.btn-delete-3 {
  background-image: url("../img/icons/btn-hide.svg");
}

.btn-edit,
.btn-delete {
  width: 25px;
  height: 25px;
  background-position: center;
  background-size: contain;
  background-repeat: no-repeat;
}

.btn-edit {
  background-image: url("../img/icons/btn-edit.svg");
}

.btn-delete {
  background-image: url("../img/icons/btn-delete.svg");
}

.btn-del-4 {
  background-image: url("../img/icons/btn-delete.svg");
  background-size: 70% 70%;
  background-color: #fff;
  width: 2rem;
  height: 2rem;
}

.btn-delete-2 {
  background-image: url("../img/icons/btn-delete-2.svg");
  width: 0.75rem;
  height: 0.75rem;
}

.box-2 .btn-delete {
  background-size: 160%;
}

.btn-img {
  background-image: url("../img/icons/btn-img.svg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: contain;
  background-size: 90% 90%;
  background-color: #fff;
  width: 2rem;
  height: 2rem;
}

.btn-img-close {
  background-image: url("../img/icons/btn-img-close.svg");
}

.btn-search {
  background-image: url("../img/icons/btn-search.svg");
  background-size: auto;
  width: 1.9rem;
  height: 1.9rem;
}

.btn-gray {
  background: #F0F2F5 url("../img/icons/btn-show.svg") no-repeat;
  background-position: 92% 50%;
  -webkit-box-shadow: 1px 1px 2px rgba(0, 0, 0, 0.25);
          box-shadow: 1px 1px 2px rgba(0, 0, 0, 0.25);
  border-radius: 5px 5px 0px 0px;
}

.border-dashed {
  border: 1px dashed #909090;
}

.form-check-input {
  z-index: 1;
}

.form-check-input:checked + .box,
.form-check-input:checked + .folder,
.modal-content {
  -webkit-box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.2);
          box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.2);
}

.photos-page .btn-img,
.photos-page .btn-img-close {
  right: 23px !important;
}

.folder {
  background-image: url("../img/icons/folder-bg.svg");
  background-size: contain;
  background-position: center;
  background-repeat: no-repeat;
}

.hint {
  top: 10px;
  right: -235px;
  display: none;
}

.form-label:hover .hint {
  display: block;
}

img {
  -o-object-fit: cover;
     object-fit: cover;
  -o-object-position: center;
     object-position: center;
}

.overflow-auto::-webkit-scrollbar {
  width: 13px;
  height: 4px;
  background-color: #F5F5F5;
}

.overflow-auto::-webkit-scrollbar-thumb {
  background-color: #9D9E9E;
  border-radius: 0;
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  -ms-border-radius: 10px;
  -o-border-radius: 10px;
}

.overflow-auto::-webkit-scrollbar-thumb:hover {
  background-color: #9D9E9E;
}

.overflow-auto::-webkit-scrollbar-button:vertical:start:decrement {
  background-color: transparent;
  height: 0;
}

.overflow-auto::-webkit-scrollbar-button:vertical:end:increment {
  background-color: transparent;
  height: 0;
}

.overflow-auto-hidden {
  overflow-x: visible;
}

.overflow-auto-hidden::-webkit-scrollbar {
  width: 0px;
  height: 0px;
  background-color: transparent;
}

.form-check-input:checked + .box-2 {
  background-color: rgba(108, 99, 255, 0.2);
}

.box-2 {
  margin-top: -1px;
}

.status-state:before {
  content: 'Скрыт';
}

#status-switch:checked + .status-state:before {
  color: #392DFF;
  content: 'Активен';
}

input[type=file] {
  opacity: 0;
  cursor: pointer;
}

.row1 .form-check-input {
  left: 0;
}

.modal-body .form-control {
  width: 470px;
}

.nav-link-3 {
  width: 100%;
  text-align: left !important;
  background-color: white;
  font-size: inherit;
}

.nav-link-3.active {
  background-color: rgba(57, 45, 255, 0.1);
}

.nav-link-3.border {
  border-top-width: 0px !important;
}

.table-list {
  border-top: 1px solid #DAE2E8 !important;
}

.table-list .border {
  border-top-width: 0px !important;
}

.btn-3 {
  background-color: white;
  color: #392DFF;
  border-radius: 5px 5px 0px 0px;
  border: 1px solid #392DFF;
}

.btn-3.active {
  background-color: #392DFF;
  color: white;
}

.btn-3.active:hover {
  color: white;
}

.btn-3:hover {
  color: #392DFF;
}

.level-1,
.level-2,
.level-3 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-flex: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
}

.level-2 > .col-6 {
  padding-left: 25px;
}

.level-3 > .col-6 {
  padding-left: 40px;
}

.level-1 > .col-6,
.level-2 > .col-6,
.level-3 > .col-6 {
  -webkit-box-flex: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
}

nav.nav-top {
  height: 80px;
}

footer {
  height: 65px;
}

main {
  overflow: auto;
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
}

section.content {
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
  overflow: auto;
}

aside {
  width: 400px;
  overflow: auto;
}

.flex-1 {
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
}

.children {
  display: none;
}

/* info in table */
.items-list-head {
  width: 100%;
  height: 70px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 0 1.6rem 0 3.625rem;
  font-size: 1.2em;
}

.items-list-head .check {
  width: 2.125rem;
}

.items-list-head .name {
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
}

.items-list-head .category {
  width: 170px;
}

.items-list-head .vendor-code {
  width: 120px;
}

.items-list-head .price {
  width: 100px;
}

.items-list-head .vendor-code, .items-list-head .price, .items-list-head .order, .items-list-head .date, .items-list-head .btns {
  text-align: center;
}

.items-list-head .order {
  width: 140px;
}

.items-list-head .status {
  width: 150px;
}

.items-list-head .date {
  width: 200px;
}

.items-list-head .btns {
  width: 120px;
}

.items-list {
  font-size: .9rem;
}

.items-list > .item-row:first-child .item-tb {
  border-top: 1px solid #DAE2E8;
}

.item-row {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: stretch;
      -ms-flex-align: stretch;
          align-items: stretch;
  height: 50px;
}

.item-row .item-tb {
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  border: 1px solid #DAE2E8;
  border-width: 0px 1px 1px 1px;
  padding: 0 1.5rem;
}

.item-row .item-tb .long-name {
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.item-row .item-tb .long-name div {
  max-width: 500px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.item-row .item-tb .long-name div:hover {
  cursor: pointer;
}

.item-row .item-tb .name {
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.item-row .item-tb .name div {
  max-width: 270px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.item-row .item-tb .name div:hover {
  cursor: pointer;
}

.item-row .item-tb .category {
  width: 170px;
}

.item-row .item-tb .vendor-code {
  width: 120px;
}

.item-row .item-tb .price {
  width: 100px;
}

.item-row .item-tb .order {
  width: 140px;
}

.item-row .item-tb .status {
  width: 150px;
}

.item-row .item-tb .date {
  width: 200px;
}

.item-row .item-tb .btns {
  width: 120px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
}

.item-row .item-tb .vendor-code, .item-row .item-tb .price, .item-row .item-tb .order, .item-row .item-tb .date {
  text-align: center;
}

.item-row .item-tb .category, .item-row .item-tb .vendor-code, .item-row .item-tb .price {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.item-row .item-tb.editing {
  outline: 3px solid rgba(108, 99, 255, 0.35);
}

.item-row input[type="checkbox"]:checked + .item-tb {
  background-color: rgba(108, 99, 255, 0.15);
}

.item-row .btn-show {
  opacity: 0;
}

.item-row.parent .btn-show {
  opacity: 1;
}

.children .item-tb {
  padding-left: 3rem;
}

.children .children .item-tb {
  padding-left: 4.5rem;
}

.children .children .children .item-tb {
  padding-left: 6rem;
}

.children .children .children .children .item-tb {
  padding-left: 7rem;
}

.children .children .children .children .children .item-tb {
  padding-left: 8rem;
}

.children .children .children .children .children .children .item-tb {
  padding-left: 9rem;
}

.children .children .children .children .children .children .children .item-tb {
  padding-left: 10rem;
}

.children .children .children .children .children .children .children .children .item-tb {
  padding-left: 11rem;
}

.children .children .children .children .children .children .children .children .children .item-tb {
  padding-left: 12rem;
}

.children .children .children .children .children .children .children .children .children .children .item-tb {
  padding-left: 13rem;
}

.dynamic-inputs .input-clone {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: stretch;
      -ms-flex-align: stretch;
          align-items: stretch;
}

.dynamic-inputs .input-clone input {
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
}

.dynamic-inputs .input-clone:first-child {
  display: none;
}
/*# sourceMappingURL=style.css.map */